body{
    background-color: rgb(255, 187, 0);
}
h1{
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    background-color: greenyellow;
    margin: 0;
}
img{
    width:60%;
    float: left;
    margin: 10px;
}
.list{
    list-style-type: none;
    text-align: center;
    font-size: 40px;
    padding-top:100px ;
}
.list>li{
    padding: 10px;
}
h2{
    font-size: 40px;
    text-align: center;
    
}
li>a{
    text-decoration: none;
}
a:link{
    color: rgb(182, 14, 14);
}
a:visited{
    color: rgb(184, 91, 91);
}
a:hover{
    color: rgb(219, 11, 46);
}
